@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 1100px;
    margin: auto;

}

/*********** add restaurent*************** */
.main-page {
    display: flex;
    /* margin-left: 800px; */
    justify-content: end;
    position: absolute;
    line-height: 2.5;
    width: 100%;
    margin-top: 20px;
    z-index: 1000;

}

.main-page p {
    color: white;
    margin-right: 20px;
}

.main-page .page .create {
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    /* box-shadow: 1px 2px 2px lightgray; */
    padding: 7px 30px;
    text-decoration: none;
    background-color: #2781e7;
    color: white;
    cursor: pointer;
}

.main-page .page .login {
    border: 1px solid white;
    color: white;
    height: 30px;
    padding: 5px 20px;
    /* border: none; */
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    /* box-shadow: 1px 2px 2px lightgray; */


}

/************** bnr************* */
.main-bnr .bnr {
    /* margin-top: 150px; */
    /* margin-left: 330px; */
    position: relative;
    /* text-align: center; */
    /* left: 250px; */
    color: white;
    padding: 220px 100px;


}

.main-bnr {
    background-image: url(../images/zomato\ for\ business.webp);
    background-repeat: no-repeat;
    /* filter: brightness(50%) !important; */
    background-size: cover;

    height: 70vh !important;

}

.bnr button {
    width: 25%;
    height: 40px;
    background-color: #2781e7;
    color: white;
    border-radius: 10px;
    border: none;
    padding-right: 5px;
    font-size: 15px;
}

.order p {
    color: grey;
    margin-left: 120px;

    /* text-align: center; */
}

.order h2 {
    padding: 10px;
    margin-left: 100px;
    font-size: 30px;
}

.order1 p {
    /* padding: 0px 0px 0px 10px ; */
    /* padding: 7px; */
    color: black;
    /* display: flex; */
}

.main-order {

    background-color: white;
    position: relative;
    left: 350px;
    bottom: 100px;
    margin-top: 25px;
    /* border:2px solid black; */
    box-shadow: 1px 2px 3px grey;
    border-radius: 10px;
    border: none;
    width: 45%;
    height: 280px;
}

.order1 p {
    margin-top: 20px;
}

.main-order .documents p {
    width: 40%;
    margin-bottom: 20px;
}

.fa-check {
    margin-right: 10px;
    background-color: green;
    padding: 4p;
    font-size: 10px;
    border-radius: 100px;
}

.main-order .documents {
    display: flex;
    padding: 30px 50px;
    width: 100%;
    flex-wrap: wrap;
}

/************ parnter css*********** */

.partner p {
    color: grey;
    font-size: 20px;
    margin-top: 10px;

}

.partner {
    margin-top: 50px;
    text-align: center;

}

/* ************cards css************* */
.main-card {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 70%;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 270px;


}

.main-card .card {
    box-shadow: -1px 2px 3px 3px lightgray;
    padding: 20px 30px;
    height: 90%;
    margin-right: 15px;
    border-radius: 5px;
    /* background-color: red; */
}

.card h3 {
    color: #2781e7;
    padding: 10px 49px;
}

.card p {
    color: grey;
    padding: 0px 50px;
}

/* ***********work css************** */

.works {
    background-image: url(/images/work.bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 50px 0;
    height: 420px;
    margin-top: 120px;
}

.works h3 {
    font-size: 30px;
    /* margin-top: 20px; */
}

.work {
    background-color: white;
}

.works .main-work {
    display: flex;
    margin-top: 120px;
    justify-content: center;

}

.work img {
    margin: 50px 100px;
    border-radius: 50px;

}

.main-work .work {
    padding: 10px;
    width: 19%;
    height: 400px;
    background-color: whote;
    margin-right: 20px;
    /* margin-bottom: 100px; */
    border: 2px solid black;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 3px grey;
}

.works h3 {
    text-align: center;
}

.main-work .work h5 {
    text-align: center;
    font-size: 20px;

}

.work .text-work p {
    font-size: 15px;

}

.main-work .work p {
    margin-top: 20px;
    /* font-size: 20px; */
    /* margin-right: 10px; */
}

/* *********listed css********** */


.main-listed .listed {
    margin-top: 500px;
    text-align: center;
}

.main-listed {
    background-image: url(../images/searchbg.jpg);
    height: 250px;
}

.listed p {
    font-size: 20px;
    padding-top: 20px;


}

.listed h1 {
    padding-top: 50px;
}

.listed input {
    height: 45px;
    /* margin-top: 50px; */
    padding-top: 20px !important;
    width: 50%;
    border-radius: 10px;
    list-style-type: none;
}

.search-bar {
    /* padding-top: 30px; */
    height: 35px;
    margin-top: 20px !important;
    display: flex;
    /* justify-content: center; */
    background-color: white;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
}

.search-bar form {
    /* padding-top: 30px; */
    border-right: 2px solid black;
    margin-right: 30px;

}

.search-bar select {
    /* padding-top: 20px; */
    width: 180px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
}

.search-bar input {
    /* padding-top: 30px; */
    border-radius: 10px;
    width: 100%;
    border: none !important;
}

input:focus,
select:focus {
    outline: none;
}

.search-bar input::placeholder {
    padding-left: 10px;
}

/************ product css************* */
.products h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
}

.main-product {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.product-text h3,
p {
    margin-top: 5px;
    padding: 5px 10px;
}

.main-product .product-text img {
    width: 100%;
    height: 150px;


}

.product-text {

    box-shadow: 1px 2px 3px lightgray;
    width: 22%;
    margin-right: 15px;
    /* padding: 0 30px;
     */
    border-radius: 15px;
    height: 350px;

}

.product-text button {
    border: none;
    color: #2781e7;
    font-size: 15px;
    width: 50%;
    margin: 15px 10px;
    /* padding: 15px 10px; */
    background-color: none;

}

.product-text button:hover {
    color: blue;
    transition: 0.5s;

}

/* **************happy css********** */
.happiness .main-happy {
    display: flex;
    justify-content: center;
}

.happiness h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.happy {
    width: 50%;
    margin-bottom: 30px;
}

.happiness {
    margin-top: 50px;
}

.main-happy {
    margin-top: 20px;
    padding: 30px 0;
    /* padding-left: 50px; */
}

.main-happy img {
    margin-top: 15px;
    margin-right: 20px;
}

.happy h5 {
    margin-top: 15px;
    color: #2781e7;
    font-size: 20px;
}

.child {
    background-color: lightgrey;
    margin-top: 100px;
}

/*************** sign up css **********/
.sign-text {
    text-align: center;
    margin-top: 70px;
}

.sign p {
    color: grey;
}

.main-signup .signup {
    margin-top: 30px;
}

.sign-details {
    width: 40%;
    padding: 50px 85px;

    /* margin: auto; */
    /* padding: 20px 50px; */

}

.sign .lap-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    /* height: 100%; */
    /* padding-left: 50px; */
}

.lap-img img {
    /* margin: auto; */
    height: 100%;
    width: 100%;




}

.main-signup {
    display: flex;
    justify-content: center;
}

/* journey css*************** */
.main-journey {
    margin-top: 30px;
    width: 100%;
}

.main-journey .journey {
    margin: auto;
    margin-bottom: 50px !important;
    width: 60%;
    padding: 50px 30px;
    height: 250px;
    color: white;
    background-image: url(../images/new.jpg);
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.main-journey .journey h2 {
    color: white;

}

.journey button {
    width: 15%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #2781e7;
    margin-top: 20px;
}

/* question css********* */
.main-question {
    text-align: center;

}

.question .ques {

    border: 2px solid grey;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: 70px;

}

.question .ques p {
    font-size: 18px;
    padding: 20px;
    margin-right: 50px;
}

.main-question .question {
    margin-top: 50px;
}

/* form css*********** */
.main-form {
    background-image: url(/images/work.bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin: auto;
    height: 500px;
    margin-top: 150px;
}

.main-form {
    display: flex;
    justify-content: center;
    padding: 100px 100px;
}

.form .text-form {
    width: 50%;
}

.formlg {
    background-color: white;
    border-radius: 5px;
    height: 400px;
    width: 23%;


}

.form1 input {


    width: 100%;
    border-radius: 5px;
    height: 45px;

}

.form1 button {
    width: 100%;
    height: 45px;
    color: white;
    background-color: #2781e7;
    border-radius: 5px;
    list-style-type: none;

}

.text-form h1 {
    font-size: 35px;
    margin-left: 50px;
}

.footer {
    width: 90%;
    margin-left: 100px;
    margin-top: 80px;
    padding: 50px 90px;
}

.footer6 .link .img {
    margin-top: 10px;
}

.footer6 .link i {
    margin-top: 10px;
    color: black;
}

.footer .footer-parts {
    /* background-color:lightgrey; */
    display: flex;
    justify-content: space-between;
}

.footer6 .link i {
    font-size: 20px;
    padding: 3px;
    margin-top: 5px;

}

.end hr {
    color: grey;
}

.footer6 .img img {
    width: 100px;
    height: 120%;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    margin: 250px 100px;
    font-size: 13px;
    /* overflow-x: hidden; */
}

.main-footer h3 {
    font-size: 15px;
}


.footer2 a {
    margin-top: 20px;
    padding: 10px;
}


.footer2 .link a {
    text-decoration: none;
    color: grey;
}

.footer .link a {
    text-decoration: none;
    color: grey;
}

.footer2 .link i {
    color: black;
    font: 25px;
}

.footer2 .img img {
    height: 100px;
    /* width: 30%; */
    width: 100px;
}


/* ******** New Footer ********* */
.footer {
    width: 90%;
    margin-left: 100px;
    margin-top: 80px;
    padding: 50px 90px;
}

.footer6 .link .img {
    margin-top: 10px;
}

.footer6 .link i {
    margin-top: 10px;
    color: black;
}

.footer .footer-parts {
    /* background-color:lightgrey; */
    display: flex;
    justify-content: space-between;
}

.footer6 .link i {
    font-size: 20px;
    padding: 3px;
    margin-top: 5px;

}

.end hr {
    color: grey;
}

.footer6 .img img {
    width: 100px;
    height: 120%;
}

/* *********form css************ */


.login {
    /* border: 2px  solid black; */
    /* height:400px; */
    /* width: 60%; */
    border-radius: 10px;


}

.login h2 {
    margin-left: 15px;


}

.main-login {
    background-color: white;
    /* height: 1000px; */
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 150px;

    /* width: 35%; */
}

.main-login .login {
    background-color: white;
    box-shadow: 1px 1px 6px gray;
    border: 2px solid white;
    border-radius: 10px;
    height: 400px;
    width: 25%;
}

.log-in {
    padding: 10px 40px;

}

.log-in button {
    color: white;
    border: none;

    background-color: rgb(239 79 95);
}

.log-in input,
button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.login .log-in input::placeholder {
    padding-left: 100px;
}

.login .log-in h3 {
    text-transform: capitalize;
    text-align: center;
}

.login .btn {
    margin-left: 40px;
    border: none;
    width: 80%;
    height: 45px;
}

.login .btn p {
    margin-top: 15px;
}

.login .btn span {
    color: rgb(239, 79, 95);
}

.btn i {
    color: rgb(239, 79, 95);
}

.log-in input {
    border: 1px solid grey;

}

.btn button {
    border: 1px solid grey;
}

.form1 span {
    color: #2781e7;
}

/* sign up css*************** */
.main-login {
    background-color: white;

    /* height: 1000px; */
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 150px;

    /* width: 35%; */
}

.main-login .login {
    background-color: white;
    box-shadow: 1px 1px 6px gray;
    border: 2px solid white;
    border-radius: 10px;
    height: 450px;
    width: 25%;
}

.log-in {
    padding: 10px 40px;

}

.log-in button {
    color: white;
    border: none;

    background-color: rgb(239 79 95);
}

.log-in input,
button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.login .log-in input::placeholder {
    padding-left: px;
}

.login .log-in h3 {
    text-transform: capitalize;
    text-align: center;
}

.login .btn {
    margin-left: 40px;
    border: none;
    width: 80%;
    height: 45px;
}

.login .btn p {
    margin-top: 15px;
}

.login .btn span {
    color: rgb(239, 79, 95);
}

.btn i {
    color: rgb(239, 79, 95);
}

.log-in input {
    border: 1px solid grey;

}

.btn button {
    border: 1px solid grey;
}

.form1 span {
    color: #2781e7;
}

.display {
    display: flex;
    justify-content: center;
    /* padding-left: 10px; */
}

.display p {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.display input {
    size: 20px;
}

.display span {
    color: rgb(239, 79, 95);
}

.btn h5 {
    text-align: center;
    font-size: 15px;
}





/* Media Query for Mobile */
@media screen and (min-width:300px) and (max-width:390px) {
    .main-page .page .create {
        height: 30px;
        border: none;
        border-radius: 5px;
        margin-right: 5px;
        /* box-shadow: 1px 2px 2px lightgrey; */
        padding: 7px 15px;
        text-decoration: none;
        background-color: #2781e7;
        color: white;
        cursor: pointer;
    }

    .main-bnr .bnr {
        /* margin-top: 150px; */
        margin-left: 0px;
        position: relative;
        left: 0px;
        color: white;
        padding: 130px 20px;
    }

    .main-bnr .bnr h1 {
        font-size: 27px;
    }

    .bnr button {
        width: 100%;
        height: 40px;
        background-color: #2781e7;
        color: white;
        border-radius: 10px;
        border: none;
        padding-right: 5px;
        font-size: 15px;
    }

    .main-order {
        background-color: white;
        position: relative;
        margin: auto;
        left: 0px !important;
        bottom: 100px;
        margin-top: 25px;
        /* border: 2px solid black; */
        box-shadow: 1px 2px 3px grey;
        border-radius: 10px;
        border: none;
        width: 90%;
        height: 80vh;
    }

    .order h2 {
        padding: 10px;
        margin-left: 0px;
        font-size: 30px;
    }

    .order p {
        color: grey;
        margin-left: 0px;
        /* text-align: center; */
    }

    .main-order .documents {
        display: flex;
        padding: 30px 50px;
        width: 100%;
        flex-wrap: wrap;
    }

    .main-order .documents p {
        width: 50%;
        margin-bottom: 20px;
    }

    .partner {
        margin-top: 50px;
        text-align: center;
        font-size: 11px;
    }

    .partner p {
        color: grey;
        font-size: 15px;
        margin-top: 10px;
    }

    .main-card {
        display: flex;
        justify-content: center;
        height: 104px;
        flex-wrap: wrap;
        width: 70%;
        margin-top: 90px;
        margin-bottom: 90px;
        margin-left: 58px;
    }

    .main-card .card {
        box-shadow: -1px 2px 3px 3px lightgrey;
        padding: 10px 30px;
        height: 90%;
        width: 87%;
        margin-top: 25px;
        margin-right: 25px;
        border-radius: 5px;
        /* background-color: red; */
    }

    .works {
        background-image: url(/images/work.bg.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 53px 0;
        height: 330px;
        margin-top: 330px;
    }

    .works .main-work {
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;
        justify-content: center;
    }

    .main-work .work {
        padding: 10px;
        margin-top: 20px;
        width: 74%;
        height: 310px;
        margin-left: 31px;
        background-color: whote;
        margin-right: 20px;
        /* margin-bottom: 100px; */
        border: 2px solid black;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 2px 3px grey;
    }

    .main-work .work h5 {
        text-align: center;
        font-size: 16px;
    }

    .main-work .work p {
        margin-top: 9px;
        /* font-size: 20px; */
        /* margin-right: 10px; */
    }

    .main-listed .listed {
        margin-top: 1000px;
        text-align: center;
    }

    .listed h1 {
        padding-top: 20px;
        font-size: 17px;
    }

    .listed p {
        font-size: 14px;
        padding-top: 20px;
    }

    .search-bar select {
        /* padding-top: 20px; */
        width: 180px;
        margin-right: 10px;
        border: none;
        border-radius: 10px;
        height: 35px;
        padding-left: 10px;
    }

    .main-product {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .main-product .product-text {
        box-shadow: 1px 2px 3px lightgrey;
        width: 70% !important;
        margin-right: 15px;
        /* padding: 0 30px; */
        border-radius: 15px;
        height: 350px;
        margin-top: 37px;
    }

    .product-text button {
        border: none;
        color: #2781e7;
        font-size: 15px;
        width: 50%;
        margin: 2px 10px;
        /* padding: 15px 10px; */
        background-color: none;
    }

    .happiness h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 31px;
    }

    .main-happy img {
        margin-top: 15px;
        margin-right: 0px;
        width: 30%;
        height: 110px;
    }

    .happy {
        width: 100%;
        margin-bottom: 30px;
    }

    .happy h5 {
        margin-top: 15px;
        color: #2781e7;
        font-size: 15px;
    }

    .sign-text {
        text-align: center;
        margin-top: 70px;
        font-size: 16px;
    }

    .sign p {
        color: grey;
        font-size: 16px;
    }

    .sign-details {
        width: 100%;
        padding: 49px 30px;
        /* margin: auto; */
        /* padding: 20px 50px; */
    }

    .lap-img img {
        /* margin: auto; */
        height: 37%;
        width: 207%;
        margin-right: 40px;
    }

    .main-signup .signup {
        margin-top: 30px;
        font-size: 15px;
    }

    .main-signup {
        display: block;
        /* justify-content: center; */
    }

    .sign .lap-img {
        display: block;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        /* height: 100%; */
        /* padding-left: 50px; */
    }

    .main-journey .journey {
        margin: auto;
        margin-bottom: 50px !important;
        width: 100%;
        padding: 50px 30px;
        height: 250px;
        color: white;
        background-image: url(../images/new.jpg);
        background-repeat: no-repeat;
        /* background-position: center center; */
    }

    .journey button {
        width: 28%;
        height: 40px;
        border-radius: 5px;
        color: white;
        background-color: #2781e7;
        margin-top: 20px;
    }

    .question .ques p {
        font-size: 11px;
        padding: 10px;
        margin-right: 0px;
        /* margin--bottom: 45px; */
    }

    .question .ques {
        border: 2px solid grey;
        margin: auto;
        margin-top: 20px;
        width: 60%;
        height: auto;
    }

    .text-form h1 {
        font-size: 39px;
        text-align: center;
        margin-left: 0px;
    }

    .main-form {
        display: block;
        justify-content: center;
        padding: 100px 0px;
    }

    /* .product-text h3, p {
        margin-top: 5px;
        width: 167%;
        padding: 5px 10px;
    } */

    .form1 input {
        width: 100%;
        border-radius: 5px;
        height: 45px;
    }

    .formlg {
        background-color: white;
        border-radius: 5px;
        height: 400px;
        width: 90%;
    }

    .form .text-form {
        width: 100%;
    }

    .footer {
        width: 100%;
        margin-left: 0px;
        margin-top: 269px;
        padding: 65px 22px;
    }

    .footer .footer-parts {
        /* background-color: lightgrey; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .happiness .main-happy {
        display: block;
        padding: 10px;
        justify-content: center;
    }

    .product-text h3,
    p {
        margin-top: 5px;
        padding: 5px 0px;
    }
}

@media screen and (min-width:391px) and (max-width:500px) {
    .main-page .page .create {
        height: 30px;
        border: none;
        border-radius: 5px;
        margin-right: 5px;
        /* box-shadow: 1px 2px 2px lightgrey; */
        padding: 7px 15px;
        text-decoration: none;
        background-color: #2781e7;
        color: white;
        cursor: pointer;
    }

    .main-bnr .bnr {
        /* margin-top: 150px; */
        margin-left: 0px;
        position: relative;
        left: 0px;
        color: white;
        padding: 130px 20px;
    }

    .main-bnr .bnr h1 {
        font-size: 27px;
    }

    .bnr button {
        width: 100%;
        height: 40px;
        background-color: #2781e7;
        color: white;
        border-radius: 10px;
        border: none;
        padding-right: 5px;
        font-size: 15px;
    }

    .main-order {
        background-color: white;
        position: relative;
        margin: auto;
        left: 0px !important;
        bottom: 100px;
        margin-top: 25px;
        /* border: 2px solid black; */
        box-shadow: 1px 2px 3px grey;
        border-radius: 10px;
        border: none;
        width: 90%;
        height: 56vh;
    }

    .order h2 {
        padding: 10px;
        margin-left: 0px;
        font-size: 30px;
    }

    .order p {
        color: grey;
        margin-left: 0px;
        /* text-align: center; */
    }

    .main-order .documents {
        display: flex;
        padding: 30px 50px;
        width: 100%;
        flex-wrap: wrap;
    }

    .main-order .documents p {
        width: 50%;
        margin-bottom: 20px;
    }

    .partner {
        margin-top: 50px;
        text-align: center;
        font-size: 11px;
    }

    .partner p {
        color: grey;
        font-size: 15px;
        margin-top: 10px;
        padding: 10px 20px;
    }

    .main-card {
        display: flex;
        justify-content: center;
        height: 104px;
        flex-wrap: wrap;
        width: 70%;
        margin-top: 90px;
        margin-bottom: 90px;
        margin-left: 0px;
        margin: auto;
    }

    .main-card .card {
        box-shadow: -1px 2px 3px 3px lightgrey;
        padding: 10px 20px;
        height: 100%;
        width: 87%;
        margin-top: 25px;
        margin-right: 0px;
        border-radius: 5px;
        /* background-color: red; */
    }

    .card p {
        color: grey;
        padding: 0px 30px;
    }

    .card h3 {
        color: #2781e7;
        padding: 10px 30px;
    }

    .works {
        background-image: none !important;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 53px 0;
        height: 330px;
        margin-top: 330px;
    }

    .works .main-work {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: center;
    }

    .main-work .work {
        padding: 10px;
        margin-top: 20px;
        width: 74%;
        height: 310px;
        margin-left: 31px;
        background-color: whote;
        margin-right: 20px;
        /* margin-bottom: 100px; */
        border: 2px solid black;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 2px 3px grey;
    }

    .main-work .work h5 {
        text-align: center;
        font-size: 16px;
    }

    .main-work .work p {
        margin-top: 9px;
        /* font-size: 20px; */
        /* margin-right: 10px; */
    }

    .main-listed .listed {
        margin-top: 1000px;
        text-align: center;
    }

    .listed h1 {
        padding-top: 20px;
        font-size: 17px;
    }

    .listed p {
        font-size: 14px;
        padding-top: 20px;
    }

    .search-bar select {
        /* padding-top: 20px; */
        width: 180px;
        margin-right: 10px;
        border: none;
        border-radius: 10px;
        height: 35px;
        padding-left: 10px;
    }

    .main-product {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .main-product .product-text {
        box-shadow: 1px 2px 3px lightgrey;
        width: 70% !important;
        margin-right: 15px;
        /* padding: 0 30px; */
        border-radius: 15px;
        height: 350px;
        margin-top: 37px;
    }

    .product-text button {
        border: none;
        color: #2781e7;
        font-size: 15px;
        width: 50%;
        margin: 2px 10px;
        /* padding: 15px 10px; */
        background-color: none;
    }

    .happiness h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 31px;
    }

    .main-happy img {
        margin-top: 15px;
        margin-right: 0px;
        width: 30%;
        height: 110px;
    }

    .happy {
        width: 100%;
        margin-bottom: 30px;
    }

    .happy h5 {
        margin-top: 15px;
        color: #2781e7;
        font-size: 15px;
    }

    .sign-text {
        text-align: center;
        margin-top: 70px;
        font-size: 13px;
        padding: 0 20px;
    }

    .sign p {
        color: grey;
        font-size: 16px;
    }

    .sign-details {
        width: 100%;
        padding: 49px 30px;
        /* margin: auto; */
        /* padding: 20px 50px; */
    }

    .lap-img img {
        /* margin: auto; */
        height: 37%;
        width: 207%;
        margin-right: 40px;
    }

    .main-signup .signup {
        margin-top: 30px;
        font-size: 15px;
    }

    .main-signup {
        display: block;
        /* justify-content: center; */
    }

    .sign .lap-img {
        display: block;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        /* height: 100%; */
        /* padding-left: 50px; */
    }

    .main-journey .journey {
        margin: auto;
        margin-bottom: 50px !important;
        width: 100%;
        padding: 35px 30px;
        height: 250px;
        color: white;
        background-image: url(../images/new.jpg);
        background-repeat: no-repeat;
        /* background-position: center center; */
    }

    .journey button {
        width: 28%;
        height: 40px;
        border-radius: 5px;
        color: white;
        background-color: #2781e7;
        margin-top: 20px;
    }

    .question .ques p {
        font-size: 11px;
        padding: 10px;
        margin-right: 0px;
        /* margin--bottom: 45px; */
    }

    .question .ques {
        border: 2px solid grey;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        width: 60%;
        height: auto;
    }

    .text-form h1 {
        font-size: 39px;
        text-align: center;
        margin-left: 0px;
    }

    .main-form {
        display: block;
        justify-content: center;
        padding: 100px 0px;
    }

    /* .product-text h3, p {
        margin-top: 5px;
        width: 167%;
        padding: 5px 10px;
    } */

    .form1 input {
        width: 100%;
        border-radius: 5px;
        height: 45px;
    }

    .formlg {
        background-color: white;
        border-radius: 5px;
        height: 400px;
        width: 90%;
        margin: auto;
    }

    .form .text-form {
        width: 100%;
    }

    .footer {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 269px;
        padding: 65px 22px;
    }

    .footer .footer-parts {
        /* background-color: lightgrey; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .happiness .main-happy {
        display: block;
        padding: 10px;
        justify-content: center;
    }

    .product-text h3,
    p {
        margin-top: 5px;
        padding: 5px 0px;

    }

    .footer .footer1,
    .footer .footer2,
    .footer .footer3,
    .footer .footer4,
    .footer .footer5,
    .footer .footer6 {
        width: 50%;
    }
}

/* media quiry for  login form************ */

@media screen and (min-width:300px) and (max-width:390px) {
    .login h2 {
        margin-left: 15px;
        font-size: 15px;
    }
    .main-login .login {
        background-color: white;
        box-shadow: 1px 1px 6px grey;
        border: 2px solid white;
        border-radius: 10px;
        height: 404px;
        width: 93%;
    }
    
}



@media screen and (min-width:391px) and (max-width:500px) {
    .login h2 {
        margin-left: 15px;
        font-size: 15px;
    }
    .main-login .login {
        background-color: white;
        box-shadow: 1px 1px 6px grey;
        border: 2px solid white;
        border-radius: 10px;
        height: 404px;
        width: 93%;
    }
    .main-login {
        background-color: white;
        /* height: 1000px; */
        background-size: cover;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        margin-top: 235px;
        /* width: 35%; */
    }
}
/* ***********media  quiry over of login form for mobile**************** */

